<strong>Dear $fname $lname,</strong><br> 
<br>
You've entered $email as the contact email address for your findon.biz userID.<br>
<br>
To complete the process, we just need to verify that this email address belongs to you.<br>
<br>
<strong>Simply click the link below to verify your registration:</strong><br>
 <br>
<a href="$verificationUrl">Verify Now </a><br>
 <br>
 <br>
<strong>Confirming your email address will allow you to:</strong> <br>
- Be a registered user  <br>
- Register your own Business <br>
 <br>
<strong>Wondering why you got this email?</strong> <br>
It's sent when someone registers with findon.biz.  <br>
If you didn't do this, don't worry. Your email address cannot be used as a contact address for anywhere without your verification.  <br>
 <br>
Thanks, <br>
 <br>
<strong>FindOn Customer Support</strong> <br>

